<section id="contactus">
  <div class="footer">
    <h1 class="sub footer-head">Get In Touch</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12 contact-icons">
          <i class="fab fa-facebook fa-2x hvr-pop"></i>
          <i class="fab fa-twitter fa-2x hvr-pop"></i>
          <i class="fab fa-github fa-2x hvr-pop"></i>
          <i class="fab fa-google-plus fa-2x hvr-pop"></i>
          <i class="fab fa-instagram fa-2x hvr-pop"></i>
        </div>
      </div>

    </div>
    <p class="Copyright">©Copyright <a href="/">Zerfinite 2020</a>. All Rights reserved.</p>
  </div>
</section>


</body>

</html>
