<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Kaushan+Script&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/courses.css" type="text/css">
    <link rel="stylesheet" href="css/best.css">
    <link rel="icon" href="images/favicon.ico">
    <title>COURSES</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-expand-lg navbar-dark" style="background-color: black">
      <a class="navbar-brand hvr-grow sub" href="/">Zerfinite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="/afterLogin"> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="#">Contact Us</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="/logout">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron" style="margin-bottom: 5rem">
      <h1 class="display-1 mainHeading"> COURSES </h1>
    </div>
    <div class="courses">
      <div class="container">
        <h1 class="display-3 heading"> COURSERA </h1>
        <div class="row">
          <div class="col-md-3">
            <img src="images/coursera.png" class="img-thumbnail courseImage" alt="Coursera">
          </div>
          <div class="col-md-9">
            Coursera provides courses from top recogonised universities all over the world. It has courses of almost every branch,
            the courses have lifetime access and after completion of courses a certifiacate would be provided by the university
            which is conducting that course. Coursera also provides option of financial-aid for the students who cannot afford
            to pay the fees for the courses. After applying for financial-aid , once approved the course will be available after
            10-14 days.
            <br>
            <br>
            <a class="btn btn-primary" href="https://www.coursera.org/">VISIT</a>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading"> UDEMY </h1>
        <div class="row">
          <div class="col-md-3">
            <img src="images/udemy.png" class="img-thumbnail courseImage" alt="UDEMY">
          </div>
          <div class="col-md-9">
            UDEMY has a huge collection of courses of almost every category be it music, fitness, programming etc. UDEMY provides
            courses at low cost and it's courses are highly informative with lifetime access. It also provides certificate of completion
            once the courses are completed.
            <br>
            <br>
            <a class="btn btn-primary" href="https://www.udemy.com/">VISIT</a>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading">UDACITY</h1>
        <div class="row">
          <div class="col-md-3">
            <img src="images/udacity.png" class="img-thumbnail courseImage" alt="UDACITY">
          </div>
          <div class="col-md-9">
            UDACITY provides huge collections of courses and all the courses are highly knowledgeable. After completion of course
            certificate of completion is provided and the course is available for lifetime access. The courses would definetly
            help you in learning and excelling in new skills.
            <br>
            <br>
            <a class="btn btn-primary" href="https://www.udacity.com/">VISIT</a>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading">UPGRAD</h1>
        <div class="row">
          <div class="col-md-3">
            <img src="images/upgrad.jpg" class="img-thumbnail courseImage" alt="upGrAd">
          </div>
          <div class="col-md-9">
            upGrad provides courses from top universities across the world which are full of knowledge. It provides certificate
            after completing the course which can boost your resume and the courses are lifetime accessible.
            <br>
            <br>
            <a class="btn btn-primary" href="https://www.upgrad.com/">VISIT</a>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading" style="margin-left: 10rem">LINKED IN LEARNING</h1>
        <div class="row">
          <div class="col-md-3">
            <img src="images/linkedin.jpg" class="img-thumbnail courseImage" alt="LINKEDINLEARNING">
          </div>
          <div class="col-md-9">
            LinkedIn learning provides huge collections of courses for every category be it development, fitness , programming etc.
            It provides certificates after completion of courses which will help to boost your resume. The courses are lifetime
            accessible so that you can return to the course whenever you wish.
            <br>
            <br>
            <a class="btn btn-primary" href="https://learning.linkedin.com/">VISIT</a>
          </div>
        </div>
      </div>
    </div>

    <section id="contactus" style="margin-top: 5rem">
      <div class="footer">
        <h1 class="sub footer-head">Get In Touch</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-12 contact-icons">
              <i class="fab fa-facebook fa-2x hvr-pop"></i>
              <i class="fab fa-twitter fa-2x hvr-pop"></i>
              <i class="fab fa-github fa-2x hvr-pop"></i>
              <i class="fab fa-google-plus fa-2x hvr-pop"></i>
              <i class="fab fa-instagram fa-2x hvr-pop"></i>
            </div>
          </div>

        </div>
        <p class="Copyright">©Copyright <a href="/">Zerfinite 2020</a>. All Rights reserved.</p>
      </div>
    </section>







    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(function () {
          $(document).scroll(function () {
              var $nav = $("#mainNavbar");
              $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
          });
      });
    </script>
  </body>
</html>
