<%- include("partials/header.ejs") -%>

<div class="jumbotron jumbotron-fluid movies-img-div" style="background-image: url('images/books.jpg'); background-repeat: no-repeat; background-size: cover; height: 700px; background-attachment: fixed">
  <div class="container sub">
    <h1 style="font-size: 6rem; margin-top: 5rem"> Educational Books Websites</h1>
  </div>
</div>

<div class="text">
  <div class="row">
    <div class="col-sm-12 details">
      <div class="info h">
        <div class="row">
          <div class="col-md-3 col-sm-12 mov-img">
            <img src="images/open.jpg" alt="Open Library" class="img-thumbnail">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Open Library</h1>
            <p>Date Launched: 2006</p>
            <p>Owner: Internet Archive</p>
            <p>Open Library is an online project intended to create "one web page for every book ever published". Created by Aaron Swartz, Brewster Kahle, Alexis Rossi, Anand Chitipothu,
              and Rebecca Malamud, Open Library is a project of the Internet Archive, a nonprofit organization. </p>
            <a href="https://openlibrary.org/" role="button" class="btn btn-dark" style="margin-top: 1rem">Open Library</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/project.png" alt="Project Gutenberg" class="img-thumbnail">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Project Gutenberg</h1>
            <p>Date Launched: 1 December 1971</p>
            <p>Owner: Michael S. Hart</p>
            <p>Project Gutenberg is a volunteer effort to digitize and archive cultural works, and to "encourage the creation and distribution of eBooks." It is the oldest digital library.
               Most of the items in its collection are the full texts of books in the public domain. </p>
            <a href="https://www.gutenberg.org/" role="button" class="btn btn-dark" style="margin-top: 1rem">Project Gutenberg</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/bookboon.png" alt="Bookboon" class="img-thumbnail" style="margin: 3rem 0 0 2rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Bookboon</h1>
            <p>Date Launched: 1988</p>
            <p>Owners: Thomas Buus Madsen and Kristian Buus Madsen</p>
            <p>Bookboon is an online publishing company of eBooks. It is focused on publishing student literature for engineering, IT and business students as well as short and practical
              business books. Bookboon was founded in Denmark under the name Ventus, and is based in Copenhagen, Denmark and London, United Kingdom.</p>
            <a href="https://bookboon.com/" role="button" class="btn btn-dark" style="margin-top: 1rem">Bookboon</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/feed.png" alt="Feedbooks" class="img-thumbnail">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Feedbooks</h1>
            <p>Date Launched: June 2007</p>
            <p>Owner: Hadrien Gardeur</p>
            <p>Feedbooks is a digital library and cloud publishing service for both public domain and original books and based in Paris, France. The main focus
              of the web site is providing e-books with particularly high-quality typesetting in multiple formats, particularly EPUB, Kindle, and PDF formats.</p>
            <a href="https://www.feedbooks.com/" role="button" class="btn btn-dark" style="margin-top: 1rem">Feedbooks</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/librivox.jpg" alt="Librivox" class="img-thumbnail">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>LibriVox</h1>
            <p>Date Launched: August 2005</p>
            <p>Owner: Hugh McGuire</p>
            <p>LibriVox is a group of worldwide volunteers who read and record public domain texts creating free public domain audiobooks for download from their website and other
              digital library hosting sites on the internet. </p>
            <a href="https://librivox.org/" role="button" class="btn btn-dark" style="margin-top: 1rem">LibriVox</a>
          </div>
          </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/smash.jpg" alt="Smashwords" class="img-thumbnail" style="margin-top: 2rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Smashwords</h1>
            <p>Date Launched: 2008</p>
            <p>Owner: Mark Coker</p>
            <p>Smashwords is a free ebook publishing and distribution platform. They make it fast, free and easy for authors and publishers to distribute ebooks to the world's largest
              ebook retailers and library ebook platforms. Authors and publishers retain full control over how their works are published, sampled, priced and sold.</p>
            <a href="https://www.smashwords.com/" role="button" class="btn btn-dark" style="margin-top: 1rem">Smashwords</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/hathi.jpg" alt="Hathi Trust" class="img-thumbnail" style="margin: 1.5rem 0 0 1rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Hathi Trust</h1>
            <p>Date Launched: October 2008</p>
            <p>Owner:  University consortium</p>
            <p>HathiTrust Digital Library is a large-scale collaborative repository of digital content from research libraries including content digitized via Google Books and
               the Internet Archive digitization initiatives, as well as content digitized locally by libraries.</p>
            <a href="https://www.hathitrust.org/" role="button" class="btn btn-dark" style="margin-top: 1rem">Hathi Trust</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/wiki.png" alt="Wikibooks" class="img-thumbnail">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Wikibooks</h1>
            <p>Date Launched: July 2003</p>
            <p>Owner: Wikimedia Foundation</p>
            <p>Wikibooks is a wiki-based Wikimedia project hosted by the Wikimedia Foundation for the creation of free content e-book textbooks and annotated texts that anyone can edit.
              Initially, the project was created solely in English in July 2003; a later expansion to include additional languages was started in July 2004.</p>
            <a href="https://en.wikibooks.org/wiki/Main_Page" role="button" class="btn btn-dark" style="margin-top: 1rem">Wikibooks</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/int.png" alt="Internet Archive" class="img-thumbnail">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Internet Archive</h1>
            <p>Date Launched: 12 May 1996</p>
            <p>Owner: Brewster Kahle</p>
            <p>The Internet Archive is an American digital library with the stated mission of "universal access to all knowledge." It provides free public access to collections of
              digitized materials, including websites, software applications/games, music, movies/videos, moving images, and millions of books.</p>
            <a href="https://archive.org/" role="button" class="btn btn-dark" style="margin-top: 1rem">Internet Archive</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/watt.png" alt="Wattpad" class="img-thumbnail">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Wattpad</h1>
            <p>Date Launched: November 2006</p>
            <p>Owner: Ivan Yuen</p>
            <p>Wattpad is a website and app for writers to publish new user-generated stories. It aims to create social communities around stories for both amateur and established writers. </p>
            <a href="https://www.wattpad.com/" role="button" class="btn btn-dark" style="margin-top: 1rem">Wattpad</a>
          </div>
        </div>

      </div>

    </div>
  </div>
  </div>

<%- include("partials/footer.ejs") -%>
