<%- include("partials/header.ejs") -%>

<div class="jumbotron jumbotron-fluid movies-img-div" style="background-image: url('images/ott.png'); background-repeat: no-repeat; background-size: cover; height: 700px; background-attachment: fixed">
  <div class="container sub">
    <h1 style="font-size: 5rem; margin-top: 6rem">OTT Platforms</h1>
  </div>
</div>

<div class="text">
  <div class="row">
    <div class="col-sm-12 details">
      <div class="info h">
        <div class="row">
          <div class="col-md-3 col-sm-12 mov-img">
            <img src="images/prime.jpg" alt="Amazon Prime" class="img-thumbnail" style="margin-top: 5rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Amazon Prime Video</h1>
            <p>Launched: 7 September 2006</p>
            <p>Owner: Amazon Inc.</p>
            <p>Users: 150 million</p>
            <p>Amazon Prime Video offers a growing library of quality original content and a large collection of movies and TV shows to stream.
              Subscribers also have the option to download content and even watch 4K titles. On top of that, Amazon hosts an impressive catalog of TV shows and
              movies available for rent or purchase.</p>
            <a href="https://www.primevideo.com/" role="button" class="btn btn-primary" style="background-color: #00A8E1; border-color: #00A8E1; margin-top: 1rem">Amazon Prime Video</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/netflix.jpg" alt="Netflix" class="img-thumbnail" style="margin-top: 5rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Netflix</h1>
            <p>Launched: 29 August 1997</p>
            <p>Owner: Reed Hastings</p>
            <p>Users: 193 million</p>
            <p>Netflix is the world's leading streaming entertainment service with 193 million paid memberships in over 190 countries enjoying TV series, documentaries and
              feature films across a wide variety of genres and languages. Members can watch as much as they want, anytime, anywhere, on any internet-connected screen.
              Members can play, pause and resume watching, all without commercials or commitments.</p>
            <a href="https://www.netflix.com/in/" role="button" class="btn" style="background-color: #E50914; border-color: #E50914; margin-top: 1rem; color: white">Netflix</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/disney.jpg" alt="Disney" class="img-thumbnail" style="margin-top: 5rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Disney+ Hotstar</h1>
            <p>Launched: 3 April 2020</p>
            <p>Owner: Star India</p>
            <p>Users: 9 million</p>
            <p>Disney Plus Hotstar is a collaboration between Disney and Star India’s existing Hotstar streaming service. In 2018, the Walt Disney company bought out 21st
              Century Fox in a $71 billion acquisition. This made Star India – owners of Hotstar – a part of the Walt Disney group.</p>
            <a href="https://www.hotstar.com/in/disneyplus" role="button" class="btn" style="background-color: #113CCF; border-color: #113CCF; margin-top: 1rem; color: white">Disney+ Hotstar</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/voot.jpg" alt="Voot" class="img-thumbnail" style="margin-top: 7rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Voot</h1>
            <p>Launched: March 2016</p>
            <p>Owner: Viacom 18</p>
            <p>Users: 100 million</p>
            <p>Voot is an Indian subscription video on demand (SVOD) service. It forms the online arm of Viacom 18. It is Viacom 18's advertising-led
              video-on-demand platform that is available as an app for iOS, KaiOS (JioPhone) and Android users, and a website for desktop consumption. Voot is available
              only in India, and hosts over 40,000 hours of video content that includes shows from channels like MTV, Nickelodeon and Colors.</p>
            <a href="https://www.voot.com/" role="button" class="btn" style="background-color: #4B0082; border-color: #4B0082; margin-top: 1rem; color: white">Voot</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/zee.jpg" alt="Zee5" class="img-thumbnail" style="margin-top: 4rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Zee5</h1>
            <p>Launched: 14 February 2018</p>
            <p>Owner: Essel Group</p>
            <p>Users: 76.4 million</p>
            <p>ZEE5 is an Indian video on demand service run by Essel Group via its subsidiary Zee Entertainment Enterprises. It was launched in India on 14 February 2018
              with content in 12 languages. The ZEE5 mobile app is available on Web, Android, iOS, Smart TVs, among other devices.</p>
            <a href="https://www.zee5.com/" role="button" class="btn" style="background-color: black; border-color: black; margin-top: 1rem; color: white">Zee5</a>
          </div>
          </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/sony1.jpg" alt="Sony Liv" class="img-thumbnail" style="margin-top: 3rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>SonyLIV</h1>
            <p>Launched: January 2013</p>
            <p>Owner: Sony Pictures Networks India</p>
            <p>Users: 14 - 20 million</p>
            <p> Sony Liv is a part of the network of television channels owned by Sony Pictures Networks India Pvt. Ltd. in India. The network's other channels include:
              Sony TV, Sony SAB, Sony Ten, Sony Max, Sony Max 2, Sony Six, Sony Pix, and Sony Yay (formerly Animax Asia). It has access to 18 years of content from channels
               that are part of the Sony Entertainment Network.</p>
            <a href="https://www.sonyliv.com/" role="button" class="btn" style="background-color: #9231CE; border-color: #9231CE; margin-top: 1rem; color: white">SonyLIV</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/mx.jpg" alt="MX Player" class="img-thumbnail" style="margin-top: 5rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>MX Player</h1>
            <p>Launched: 20 February 2019</p>
            <p>Owner: Times Internet</p>
            <p>Users: 280 million</p>
            <p> MX Player is an Indian video streaming and video on demand platform developed by MX Media & Entertainment. The platform currently operates on an ad-supported
              model and has a streaming library of over 150,000 hours across 12 languages. It is available on iOS, Android and the web. In 2018, Times Internet acquired a
              majority stake in MX Player for $140 million.</p>
            <a href="https://www.mxplayer.in/" role="button" class="btn" style="background-color: #51A0D5; border-color: #51A0D5; margin-top: 1rem; color: white">MX Player</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/alt.jpeg" alt="ALT Balaji" class="img-thumbnail" style="margin-top: 2rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>ALT Balaji</h1>
            <p>Launched: 16 April 2017</p>
            <p>Owner: Ekta Kapoor</p>
            <p>Users: 27 million</p>
            <p> ALTBalaji, a subsidiary of Balaji Telefilms Limited, is the Group’s foray into the Digital Entertainment space. After conquering television and making a
              strong mark in films, Balaji Telefilms aims to reach out directly to individual audiences, by providing them with original, exclusive and tailor-made shows,
              that they can access at their fingertips.</p>
            <a href="https://www.altbalaji.com/" role="button" class="btn" style="background-color: #FF1493; border-color: #FF1493; margin-top: 1rem; color: white">ALT Balaji</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/eros.png" alt="Eros Now" class="img-thumbnail" style="margin-top: 1.8rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Eros Now</h1>
            <p>Launched: 2012</p>
            <p>Owner: Eros International plc</p>
            <p>Users: 18.8 million</p>
            <p> Eros Now is a subscription based OTT - over the top, video on-demand entertainment and media platform, launched in 2012. It is owned by Eros Digital, the
              digital media management arm of Eros International plc. The network offers media streaming and video-on-demand services</p>
            <a href="https://erosnow.com/" role="button" class="btn" style="background-color: #20B2AA; border-color: #20B2AA; margin-top: 1rem; color: white">Eros Now</a>
          </div>
        </div>
        <div class="row mov-details">
          <div class="col-md-3 col-sm-12">
            <img src="images/arre.png" alt="Arré" height="380px" width="320px" class="img-thumbnail" style="margin-top: 1.5rem">
          </div>
          <div class="col-md-9 col-sm-12 mov-content">
            <h1>Arré</h1>
            <p>Launched: February 2015</p>
            <p>Owner: Ajay Chacko</p>
            <p>Users: 5 - 6 million</p>
            <p> Arre is an Indian OTT platform based in Mumbai. It produces and publishes videos, audio series, web series, documentaries,
              text and doodles through its online channel. Founded by former Network 18 and TV 18 executives B. Sai Kumar, Ajay Chacko, and Sanjay Ray Chaudhari, it is
              a content-based startup and was launched in April 2016.</p>
            <a href="https://www.arre.co.in/" role="button" class="btn" style="background-color: #000080; border-color: #000080; margin-top: 1rem; color: white">Arré</a>
          </div>
        </div>

      </div>

    </div>
  </div>
  </div>

<%- include("partials/footer.ejs") -%>
