<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Kaushan+Script&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/equipments.css" type="text/css">
    <link rel="stylesheet" href="css/best.css">
    <link rel="icon" href="images/favicon.ico">
    <title>EQUIPMENTS</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-expand-lg navbar-dark" style="background-color: black">
      <a class="navbar-brand hvr-grow sub" href="/">Zerfinite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="/afterLogin"> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="/logout">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron equipmentHead" style="margin-bottom: 4rem">
      <h1 class="display-1 mainHeading"> Equipments to Buy </h1>
    </div>
    <div class="sportEquipment">
      <div class="container">
        <h1 class="display-3 heading">SPORTSJAM.IN</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            SportsJam.in is india's leading online sports and fitness equipments store, with a huge collection of sports equipments
            it gives users the freedom to select from a wide range of categories. Just place your order online and then the item
            will be delievered at your house within a week. For kids they have a seperate section for all their needs. There's
            something for every sporstsman on this website.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.sportsjam.in/">VISIT</a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <img src="images/sportsjam.png" class="img-thumbnail sportsjamImage" alt="sportsjam.in">
          </div>
          <div class="col-md-1">
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading">KHELMART.COM</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            Khelmart enterprises is an India based startup where experts of both the fields i.e. sports and IT merged together
            to fill the gap between the players and the equipments they needed at a genuine price. This website provides the Users
            with a huge collection of all sports equipments. It has promised to deliever 100% genuine and authentic products to customer
            with easy return options and COD.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.khelmart.com/">VISIT</a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <img src="images/khelmart.png" alt="khelmart" class="img-thumbnail sportsjamImage">
          </div>
          <div class="col-md-1">
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading">DECATHLON</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            Deacthlon is one of the best place to buy sports equipments. It has many stores all over India and also available
            for online shopping. Decathlon is one of the most trusted company for sports and fitness equipments. It has a wide
            range of collections of all sports for every age group. Some benefits include - door step delievery, easy 90 days
            return policy , minimum 2 years warranty and 100% geuine and authentic products.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.decathlon.in/">VISIT</a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <img src="images/decathlon.png" class="img-thumbnail sportsjam" alt="decathlon">
          </div>
          <div class="col-md-1">
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading">AMAZON.IN</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            Amazon is the most trusted brand for online shopping, be it for clothes, sports equipments or other stuff.
            With prime membership the purchased item is delieverd within 1-2 days. The productsold here are 100% genuine and
            authentic. It has many features like - COD, door step delievery , easy return , fast delievery etc.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.amazon.in/Sports/b?ie=UTF8&node=1984443031&nocache=1604046032394">VISIT</a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <img src="images/amazon.png" alt="amazon" class="img-thumbnail sportsjam">
        </div>
        <div class="col-md-1">
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="display-3 heading">FLIPKART</h1>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          Flipkart is one of the most trusted e-commerce website. All the products sold are 100% genuine and authentic. It provides
          door step delievery, easy returns and COD. It has got a huge collections of all the products of every sport for every
          age group.
          <br>
          <br>
          <center>
            <a class="btn btn-primary" href="https://www.flipkart.com/sports-gear-essentials-store">VISIT</a>
          </center>

        </div>
        <div class="col-md-2">
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class='col-md-1'>
        </div>
        <div class="col-md-10">
          <img src="images/flipkart.png" class="img-thumbnail sportsjam" alt="flipkart">
        </div>
        <div class="col-md-1">
        </div>
      </div>

     </div>
    </div>

    <section id="contactus" style="margin-top: 5rem">
      <div class="footer">
        <h1 class="sub footer-head">Get In Touch</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-12 contact-icons">
              <i class="fab fa-facebook fa-2x hvr-pop"></i>
              <i class="fab fa-twitter fa-2x hvr-pop"></i>
              <i class="fab fa-github fa-2x hvr-pop"></i>
              <i class="fab fa-google-plus fa-2x hvr-pop"></i>
              <i class="fab fa-instagram fa-2x hvr-pop"></i>
            </div>
          </div>

        </div>
        <p class="Copyright">©Copyright <a href="/">Zerfinite 2020</a>. All Rights reserved.</p>
      </div>
    </section>


    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(function () {
          $(document).scroll(function () {
              var $nav = $("#mainNavbar");
              $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
          });
      });
    </script>
  </body>
</html>
