<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Kaushan+Script&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/highlights.css" type="text/css">
    <link rel="stylesheet" href="css/best.css">
    <link rel="icon" href="images/favicon.ico">
    <title>LIVE SCORES</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-expand-lg navbar-dark" style="background-color: black">
      <a class="navbar-brand hvr-grow sub" href="/">Zerfinite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="afterLogin"> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="/logout">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron scoreHead" style="margin-bottom: 5rem">
      <h1 class="display-1 mainHeading"> HIGHLIGHTS & MORE </h1>
    </div>
    <div class="highlights">
      <div class="container">
        <h1 class="display-3 heading">HOTSTAR</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            If you have missed watching a live match then you can watch the whole match or the highlights of the match, special
            moments of the match or any special innings which the user has enjoyed watching, everything can be seen on hotstar
            if the user is having an active plan.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.hotstar.com/in/sports/cricket">VISIT</a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <img src="images/hotstar.png" class="img-thumbnail highImage" alt="hotstar">
          </div>
          <div class="col-md-1">
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading"> IPL </h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            IPLt20 as the name suggests is the official webite dveloped only for the Indian Premier League. Highlights of every
            match, special moments, special innings, post match presentation and the points table everything is avaialble on this
            website. Users can also vote on the voting polls.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.iplt20.com/">VISIT</a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <img src="images/ipl.png" class="img-thumbnail highImage" alt="IPL">
          </div>
          <div class="col-md-1">
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading">SONYLIV</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            Incase you missed live match then you can watch the highlights or the whole match on SONYLIV. Also any special moments
            which you might have missed or want to eatch again then it can be seen on it, provided that the user is having
            an active plan.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.sonyliv.com/custompage/sports-2245">VISIT</a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <img src="images/sonyliv.png" class="img-thumbnail highImage" alt="SONYLIV">
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
    </div>

    <section id="contactus" style="margin-top: 5rem">
      <div class="footer">
        <h1 class="sub footer-head">Get In Touch</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-12 contact-icons">
              <i class="fab fa-facebook fa-2x hvr-pop"></i>
              <i class="fab fa-twitter fa-2x hvr-pop"></i>
              <i class="fab fa-github fa-2x hvr-pop"></i>
              <i class="fab fa-google-plus fa-2x hvr-pop"></i>
              <i class="fab fa-instagram fa-2x hvr-pop"></i>
            </div>
          </div>

        </div>
        <p class="Copyright">©Copyright <a href="/">Zerfinite 2020</a>. All Rights reserved.</p>
      </div>
    </section>





    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(function () {
          $(document).scroll(function () {
              var $nav = $("#mainNavbar");
              $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
          });
      });
    </script>
  </body>
</html>
