<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Kaushan+Script&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/score.css" type="text/css">
    <link rel="stylesheet" href="css/best.css">
    <link rel="icon" href="images/favicon.ico">
    <title>LIVE SCORES</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-expand-lg navbar-dark" style="background-color: black">
      <a class="navbar-brand hvr-grow sub" href="/">Zerfinite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="/afterLogin"> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hvr-grow sub" href="/logout">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron scoreHead" style="margin-bottom: 5rem">
      <h1 class="display-1 mainHeading"> Live Scores </h1>
    </div>
    <div class="score">
      <div class="container">
        <h1 class="display-3 heading">ESPN</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            ESPN gives live score of every sport be it cricket, football , WWE etc. The live score is accurate and every detail
            of the match is provided. If you are not able to watch the live match due to any reason then you can surely watch
            the scores on this website.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.espn.in/"> VISIT </a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <img src="images/espn.png" class="img-thumbnail scoreImage" alt="espn">
          </div>
          <div class="col-md-1">
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading">CRICBUZZ</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            Cricbuzz is one of the best website/app for live cricket scores. Users can also watch videos related to the
            matches on this website/app. Users can also enjoy the live commentry which is displayed along with the
            scores.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.cricbuzz.com/">VISIT</a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <img src="images/cricbuzz.png" class="img-thumbnail scoreImage" alt="cricbuzz">
          </div>
          <div class="col-md-1">
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading">HOTSTAR</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            HOTSTAR gives the user access to watch live matches if the user has an active plan, it is quite convinient
            as users can watch matches live on mobile as well as laptops. Users can also create a room and watch live
            matches along with their friends and chat with them while watching matches.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.hotstar.com/in/sports/cricket">VISIT</a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <img src="images/hotstar.png" class="img-thumbnail scoreImage" alt="hotstar">
          </div>
          <div class="col-md-1">
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3 heading">SONYLIV</h1>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            SONYLIV gives the users access to watch live matches on their phones as well as on laptops or computers, provided
            that the user must have an active plan. It is convinient as the users can watch live matches anywhere by just downloading
            the app or on the website.
            <br>
            <br>
            <center>
              <a class="btn btn-primary" href="https://www.sonyliv.com/custompage/sports-2245">VISIT</a>
            </center>

          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <img src="images/sonyliv.png" class="img-thumbnail scoreImage" alt="sonyliv">
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
    </div>


    <section id="contactus" style="margin-top: 5rem">
      <div class="footer">
        <h1 class="sub footer-head">Get In Touch</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-12 contact-icons">
              <i class="fab fa-facebook fa-2x hvr-pop"></i>
              <i class="fab fa-twitter fa-2x hvr-pop"></i>
              <i class="fab fa-github fa-2x hvr-pop"></i>
              <i class="fab fa-google-plus fa-2x hvr-pop"></i>
              <i class="fab fa-instagram fa-2x hvr-pop"></i>
            </div>
          </div>

        </div>
        <p class="Copyright">©Copyright <a href="/">Zerfinite 2020</a>. All Rights reserved.</p>
      </div>
    </section>





    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(function () {
          $(document).scroll(function () {
              var $nav = $("#mainNavbar");
              $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
          });
      });
    </script>
  </body>
</html>
